
<h1>Editing Book</h1>
    <%= render 'books/error_form', book: @book %>
    <%= form_with model: @book, local:true do |f| %>
    <div class="box">
      <label for="book_title">Title</label>
      <%= f.text_field :title %>
    </div>
    <div class="box">
      <label for="book_body">Body</label>
      <%= f.text_area :body %>
    </div>
    <div class="box">
      <%= f.submit 'Update Book' %>
    </div>
    <div class="text">
     <%= link_to 'Show', book_path(@book.id),class: 'btn-primary mr-3' %>
      |
      <a class="back" href="/books">Back</a>
    </div>
    <% end %>
</body>
</html>